<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cafexpress</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <div class="produto">
            <div class="fotoproduto"><img src="/uploads/<%= produto.imagem %>" alt="imagem ilustrativa" style="width: 100%; height: 100%"></div>
            <div class="descproduto">
                <ul>
                    <li><h1><%= produto.nome %></h1></li>
                    <li><p><%= produto.descricao %></p></li>
                    <li><h2>R$<%= produto.preco %></h2></li>
                    <!-- <li><label for="quantidade">Quantidade:</label>
                        <input type="number" name="quantidade" id="quantidade"></li> -->
                    <li><a href="/produtos/<%= produto.id %>/carrinho" id="addcart" >Adicionar ao carrinho</a></li>

                </ul>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>